<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="@string/app_name"
        android:roundIcon="${appIconRound}"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlueTriangleDemo"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute" >
        <activity
            android:name=".layout.ConfigurationLayoutActivity"
            android:exported="false"
            android:label="@string/configuration"
            android:theme="@style/Theme.BlueTriangleDemo.NoActionBar" />
        <activity
            android:name=".compose.screens.ConfigurationComposeActivity"
            android:exported="false" />
        <activity
            android:name=".layout.HybridDemoLayoutActivity"
            android:exported="false"
            android:label="@string/hybrid_demo"
            android:theme="@style/Theme.BlueTriangleDemo.NoActionBar" />
        <activity
            android:name=".compose.screens.ComposeAboutActivity"
            android:exported="false" />
        <activity
            android:name=".layout.LauncherActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout.StoreActivity"
            android:exported="true"
            android:label="@string/title_activity_store"
            android:theme="@style/Theme.BlueTriangleDemo.NoActionBar" />
        <activity android:name=".compose.screens.ComposeStoreActivity" />
        <activity android:name=".compose.screens.ProductDetailsActivity" />
    </application>

</manifest>